body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0; 
    font-family: sans-serif; 
    color: white;
    background:  linear-gradient(180deg, #6e8efb, #a777e3);/* #5a61ac; */
}

h1 {
    font-size: 3rem;
}